#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logo-container {
  display: flex;
  align-items: center;
}

#logo {
  margin-right: 10px;
}

#title-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#title-line1,
#title-line2 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: blue;
}

.slider-placeholder {
  width: 100%;
  height: 400px;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .slider-placeholder {
    height: 300px;
  }
}

body {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
}

.box-container {
  display: flex;
}

.box1,
.box2 {
  flex: 1;
  margin: 10px;
  padding: 50px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #002366;
}
.box1 h1,
.box2 h1 {
  color: #fcf9f9;
}

.box1 p,
.box2 p {
  margin: 10px 0;
  color: #fcf9f9;
}

.mission-text {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-title img {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 100px;
  width: auto;
  height: 150px;
}

.doctrine-scripts img {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 100px;
  width: auto;
  height: 150px;
}

.mission-statement {
  text-align: center;
  margin-bottom: 20px;
}

.mission-text {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style for the Read More button */
.read-more-btn {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #002366;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.read-more-btn:hover {
  background-color: var(--accent-color); /* Dark blue background on hover */
  color: white; /* White text on hover */
  text-decoration: none; /* Ensures the text decoration does not change on hover */
}

.scripture {
  margin: 0 auto;
  color: white;
  max-width: 1000px;
  padding: 20px;
  background-color: #002366;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}



.footer {
  background-color: #002366; /* Dark blue background */
  color: white; /* White text */
  padding: 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns of equal width */
  grid-gap: 20px; /* Spacing between grid items */
  align-items: start; /* Align grid items to the start of the grid area */
}

.address,
.service-hours,
.contact-info,
.social-media {
}

.social-media {
  /* Assuming you want the social media links horizontally aligned */
  display: flex;
  justify-content: flex-end; /* Aligns the social media icons to the right */
  align-items: center;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1024px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
  }

  .social-media {
    justify-content: center; /* Center social media icons on medium screens */
  }
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr; /* Stack the grid items on top of each other on small screens */
    text-align: center;
  }

  .social-media {
    justify-content: center; /* Center social media icons on small screens */
  }
}


.social-media a:hover {
  color: #4d9fea; /* Change color on hover, if desired */
}


/* Copyright text styling */
.copyright {
  margin-top: 20px; 
  text-align: center;
  width: 100%;
  font-size: 14px; 
}


